<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <div formGroupName="credentials">
    <div>
      <label for="name">Name</label>
      <input type="text" id="name" formControlName="name">
    </div>
    <div>
      <label for="email">Email</label>
      <input type="email" id="email" formControlName="email">
    </div>
    <div>
      <label for="password">Password</label>
      <input type="password" id="password" formControlName="password">
    </div>
  </div>
  <div formGroupName="address">
    <div>
      <label for="street">Street</label>
      <input type="text" id="street" formControlName="street">
    </div>
    <div>
      <label for="zip">Zip</label>
      <input type="number" id="zip" formControlName="zip">
    </div>
    <div>
      <label for="city">City</label>
      <input type="text" id="city" formControlName="city">
    </div>
  </div>
  <button type="submit">Submit</button>
</form>

<div *ngIf="user">
  <h2>Submitted</h2>
  <ul>
    <li>
      Name : {{ user.credentials.name }}
    </li>
    <li>
      Email: {{ user.credentials.email }}
    </li>
    <li>
      Password lol : {{ user.credentials.password }}
    </li>
    <li>
      Adress : 
      <ul>
        <li>
          Street : {{ user.address.street }}
        </li>
        <li>
          Zip code : {{ user.address.zip }}
        </li>
        <li>
          City : {{ user.address.city }}
        </li>
      </ul>
    </li>
  </ul>
</div>